
/* UNIVERSAL STYLES */

body { 
	margin: 0; padding: 0; 
	background-image: url('../artwork/worn-background.jpg');
	background-position: center top; background-repeat: repeat-y;
	font-family: georgia, times, serif;
	-webkit-text-size-adjust: 100%;
}

p { line-height: 160%; font-size: 15px; }
strong { font-weight: 700; }


#Image-Maps_2201305191435081 area, #Image-Maps_22013051914350812 area {
outline:none;
}

.hidden { display: none; }

.absolute { position: absolute; }
.relative { position: relative; }

.inner { width: 970px; margin: 0 auto; }

.left { float: left; }
.right { float: right; }

.w50 { width: 49%; }

a { color: #2f4ea5; }
a:hover { text-decoration: none; }

.light-blue { color: #5783ff; }
.dark-blue { color: #2f4ea5; }
.light-blue-background { background-color: #5783ff; }
.dark-blue-background { background-color: #2f4ea5; }
.red { color: red; }
.grey { color: #999; }

.francois { font-family: 'Francois One', sans-serif; }
.yanone { font-family: 'Yanone Kaffeesatz', sans-serif; }

/* PADDING AND MARGIN STYLES */

.p10 { padding: 10px; }

/* HEADER STYLE AREA */

.header {}
.header img { padding: 40px 0 0 40px; }

.social-icons div.right { padding-right: 30px; }
 




 /* NAVIGATION STYLE AREA */

div.navigation { background-color: black; margin-top: 10px; }
div.navlinks a {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: white;
	line-height: 50px;
	padding: 0px 15px;
	text-transform: uppercase;
	text-decoration: none;
	border-right: 1px solid white;
}
div.navlinks a:nth-child(7) { border-right: none; }
div.navlinks a:nth-child(8) { border-right: none; margin-left: 40px; padding: 5px 20px; text-decoration: none; }
div.navlinks a:hover { text-decoration: underline; }
div.navlinks a:nth-child(8):hover { text-decoration: none; }


.button {
	background-color: #2f4ea5;
	border-radius: 5px;
	box-shadow: rgba(255, 255, 255, 0.496094) 0px 1px 2px 0px inset, rgba(0, 0, 0, 0.199219) 0px 1px 0px 0px;
	color: white;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 15px 20px;
	margin: 0 10px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
a.button:hover { 
	background-color: #5783ff;
}

.subnav {
	margin: 20px 0 50px 0;
	text-align: center;
}
.subnav a {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #666;
	border-radius: 10px;
	color: white;
	padding: 5px 20px;
	margin: 0 10px;
}
.subnav a:hover {
	background-color: #ccc;
	color: black;
}




h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 40px;
	color: red;
	padding-bottom: 20px;
}
td.return a {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	background-color: red;
	color: white;
	padding: 5px;
	border-radius: 5px;
}
p.sub-head {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 32px; color: red; padding-bottom: 10px;
}
p.sub-head a { color: red; }
div.new-section { margin: 10px 0; }


/* FRONT PAGE STYLES */
.front-page .image-row {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 30px;
}
.front-page .image-row img {
	padding-right: 30px;
	width: 55px;
}
.front-page .tagline {
	text-align: center;
	margin-bottom: 60px;
}
.front-page .description p {
	font-size: 18px;
	line-height: 200%;
	width: 960px;
	margin: 0 auto 60px;
}
.front-page div.right-now {
	text-align: center;
	margin-bottom: 50px;
}
.front-page .donations-where {
	background-color: #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 40px 0;
	margin-bottom: 30px;
}
.front-page .donations-where .donation-head {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	float: left;
	width: 250px;
	color: red;
	font-size: 48px;
	text-transform: uppercase;
	line-height: 100%;
}
.front-page .donations-where .donation-desc {
	float: right;
	width: 700px;
	font-size: 18px;
	line-height: 200%;
}
.front-page .donations-where .donation-desc img {
	padding-left: 20px;
}





/*  GROWER PAGE STYLES */

.grower-page .sidebar { width: 210px; float: left; }
.grower-page .main-content { width: 720px; float: right; }

.grower-page .members { width: 110px; float: left; }
.grower-page .image-row { margin-top: 0px; }
.grower-page .image-row .icon {
	float: left;
	padding-right: 75px;
}
.grower-page .pledgeamount {
	background-color:rgba(255,0,0,1);
	border-radius: 10px;
	padding: 2px 7px 5px 5px;
	color: white;
	font-size: 18px;
	z-index: 2;
	position: absolute;
	margin-top: 50px;
	margin-left: 0px;
}
.grower-page .grow-status {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 36px;
	padding: 15px;
	background-color: red;
	text-align: center;
	color: white;
}


/* GROWERS PAGE  */

p.data-copy {
	font-size: 18px;
	margin-bottom: 20px;
}

.growers-page .search-bar-p {
	margin-left: 120px;
}
.growers-page .search-bar-i {
	padding-top: 10px;
	margin-left: 20px;
}
.growers-page .search-bar-i input {
	padding: 6px;
	width: 400px;
	font-size: 16px;
}
.growers-page div.grower {
	width: 175px;
	height: 200px;
	float: left;
	margin-right: 10px;
	margin-bottom: 40px;
}
.growers-page div.grower img {
	max-width: 150px;
	max-height: 200px;
	padding-bottom: 10px;
}
.growers-page div.grower a {
	color: red;
	text-decoration: none;
	font-size: 16px;
}

.growers-page .easy-banner {
	background-color: #ccc;
	padding: 10px;
	margin: 40px 0;
}
.growers-page .image-row {
	text-align: center;
}
.growers-page .image-row img {
	width: 50px;
	padding: 0 15px;
}

/*  NEWS PAGE */

p.news-headline {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 28px;
	text-decoration: underline;
	padding-left: 20px;
}
p.news-story {
	font-size: 16px;
	max-width: 90%;
	padding-left: 55px;

}
p.news-link {
	color: #666;
	padding: 5px 0px 20px 55px;
}
p.news-link a {
	text-decoration: none;
}




/* SPONSORS PAGE */
.sponsor-page .sponsor {
	width: 800px;
	margin-right: 30px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-left: 80px;
	border-bottom: 1px dotted black;
}
.sponsor-page p.desc {
	font-size: 18px;
	line-height: 180%;
}
.sponsor-page .sponsor img {
	padding: 10px;
}

/* REGISTRATION PAGE */
.registration-page .login {
	background-color: #ffffcc;
	width: 780px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
}
.registration-page .login h1 {
	font-size: 28px;
	color: black;
}
.registration-page .login input[type='text'] {
	padding: 5px;
	margin: 0 10px;
	width: 200px;
}
.registration-page .login input[type='submit'] {
	font-size: 16px;
	width: 100px;
}
.registration-page .registration_form table {
	font-size: 16px;
	line-height: 140%;
	width: 80%;
	margin-left: 5%;
}
.registration-page .registration_form td:nth-child(1) {
	width: 50%;
	padding: 10px;
}
.registration-page .registration_form td:nth-child(2) {
}

.registration-page .registration_form input[type='text'] {
	width: 90%;
	font-size: 16px;
	padding: 8px;
}
.registration-page .registration_form input[type='submit'] {
	margin-right: 5%;
	width: 150px;
	float: right;
	background-color: red;
	color: white;
	font-size: 14px;
	padding: 10px;
	margin-top: 20px;
}
.registration-page div.error, .profile-page div.error, .admin-pages div.error { 
	font-family: verdana, helvetica, sans-serif;
	font-size: 13px;
	color: red; font-weight: 300; line-height: 140%;}

/*  PROFILE PAGE STYLES */

.profile-page .contact-info {
	float: left;
	width: 600px;
}
.profile-page .calendar-area, .profile-page .invite-area, .share-area {
	float: right;
	width: 350px;
}
.profile-page .invite-area input[type=text] {
	width: 39%;
	padding: 8px;
	font-size: 14px;
}
.profile-page .invite-area .profile-return {
	float: left;
	font-size: 14px;
	background-color: #2f4ea5;
	border-radius: 5px;
	box-shadow: rgba(255, 255, 255, 0.496094) 0px 1px 2px 0px inset, rgba(0, 0, 0, 0.199219) 0px 1px 0px 0px;
	color: white;
	margin: 0px;
	padding: 13px;
}
.profile-page .invite-area a {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	float: right;
	text-decoration: none;
	color: white;
	background-color: #666;
	padding: 6px 10px;
	margin: 5px;	
	border-radius: 10px;
}
.profile-page #invite-result {
	margin-top: 10px;
	font-family: verdana, sans-serif;
	font-size: 13px;
	color: red;

}

.profile-page .contact-info td {
	padding: 5px;
	vertical-align: top;
}
.profile-page .contact-info td input[type='text'], .profile-page .contact-info td textarea, .calendar-area input {
	width: 95%;
	padding: 5px;
	font-size: 14px;
}

.profile-page .image-row .icon {
	float: left;
	padding: 4px 4px 2px 4px;
	margin: 4px 4px 0px 4px;
}
.profile-page .image-row .icon img {
	width: 49px;
}
.profile-page .registration_form input[type='submit'] {
	margin-right: 5%;
	width: 150px;
	float: right;
	background-color: #ccc;
	color: black;
	font-size: 14px;
	padding: 10px;
	margin-top: 20px;
}
.profile-page .styleBG {
	background-color: #cfcfcf;
	border: 1px solid black;
}
.profile-page .current-photos img { margin-right: 10px; }

/* HALL OF FAME STYLES */

.hall-page .grower, .team-page .member, .hall-page .grower a, .team-page .members a { 
	float: left; padding-right: 20px;
	margin-bottom: 20px; height: 350px;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: black;
	text-decoration: none;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
}
.hall-page .grower img, .team-page .members img { width: 150px; }

p.introPara {
	font-size: 20px;
}














/* ABOUT PAGE STYLES */

.about-page .about-copy p { padding-bottom: 10px; font-size: 18px; line-height: 180%; width: 630px; float: right; }

.faq-page p.faq-header, .fundraising-page p.faq-header {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 36px;
	color: red;
	padding-top: 20px;
	padding-left: 50px;
}
.faq-page p.question, .beard-page p.question, .fundraising-page p.question {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 28px;
	padding: 10px 0 10px 50px;
	font-weight: 700;
}
.faq-page p.answer, .beard-page p.answer, .fundraising-page p.answer {
	font-size: 16px;
	line-height: 180%;
	padding-left: 50px;
}
.faq-page ul.donate-list li {
	font-size: 16px;
	line-height: 180%;
	padding-left: 50px;
}
.lung-page ul.growfacts, .beard-page ul.growfacts {
	padding-left: 60px;
	padding-top: 10px;
}
.lung-page .growfacts li, .beard-page .growfacts li {
	font-size: 16px;
	padding-bottom: 8px;
	list-style-type: disc;
	line-height: 160%;
}
.lung-page .growfacts li.inner, .beard-page .growfacts li.inner {
	margin-left: 40px;
	list-style-type: circle;
}



/* PHOTOS UPLOADING PAGE  */
.photos-page table td {
	padding: 5px;
	font-size: 16px;
}
.photos-page table td input[type="text"] {
	width: 100%;
	padding: 5px;
	font-size: 14px;

}

.photos-page .registration_form input[type='submit'] {
	margin-right: 5%;
	width: 150px;
	float: left;
	background-color: #ccc;
	color: black;
	font-size: 14px;
	padding: 10px;
	margin-top: 20px;
}
.photos-page div.user-photos {
	
}
.photos-page .photo {
	float: left;
	width: 110px;
}

/*  FOOTER STYLE AREA */


.footer {
	background-color: black;
	color: white;
	padding: 40px 0;
}
.footer .column {
	float: left;
	width: 300px;
	padding-right: 20px;
}
.footer .column p {
	font-family: georgia, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 160%;
	padding: 20px 0;
}
.footer a {
	color: white;
}

/*  WHO PAGE */
.who li {
	padding: 5px 0px;
}


/* ADMIN PAGES */

.hall-admin a {
	text-decoration: none;
}

a.promote, a.demote {
	color: red;
	font-size: 12px;
	padding: 0 10px;
}
.hall-admin ul {

}

.hall-admin ul li {
	padding: 5px;
}

.intro-admin textarea {
	width: 100%;
	padding: 5px;
	font-size: 14px;
	line-height: 140%;
}

.intro-update-button {
	text-decoration: none;
	margin-bottom: 10px;
	color: white;
	background-color: red;
	line-height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
}
.intro-result {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	padding-left: 20px;
	font-size: 12px;
	color: red;
	font-weight: 700;
}

ul.admin-nav li {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-size: 14px;
	padding: 10px 0px;

}
ul.admin-nav li a {
	color: blue;
	text-decoration: none;
	border-bottom: 1px solid blue;
}

.news-admin input, .news-admin textarea {
	width: 80%;
	padding: 5px;
	font-size: 14px;
}
.news-admin a {
}


.cash-admin .cash-button {
	font-size: 14px;
	text-decoration: none;
	margin: 10px;
	color: white;
	background-color: red;
	line-height: 40px;
	padding: 10px 10px;
	border-radius: 10px;
}




















